# Service: {{ service.name }} | Version: {{ service.version }}
# Generated: {{ generated_at }}
import logging {{ service.name }} port

:{{ route.port }} {
    import common_headers
    
    {% if service.visibility == 'internal' %}
    import internal_only
    {% endif %}
    
    {% if route.container_name %}
    reverse_proxy http://{{ route.container_name }}:{{ route.internal_port }} {
    {% else %}
    reverse_proxy host.docker.internal:{{ route.internal_port }} {
    {% endif %}
        {% if service.health.enabled %}
        health_uri {{ service.health.endpoint }}
        health_interval {{ service.health.interval }}
        {% endif %}
        
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Service-Name {{ service.name }}
    }
}
